# Variables Exercise

In [2]:
x=5
y="john"
print(x)
print(y)

5
john

In [3]:
x = 4
x = "Sally"
print(x)

Sally

In [6]:
x=str(3)
y=int(3)
z=float(3)
print(x)
print(y)
print(z)

3
3
3.0

In [7]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [8]:
x = "John"
# is the same as
x = 'John'

In [9]:
a = 4
A = "Sally"

print(a)
print(A)

4
Sally

In [10]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"


print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

In [11]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [12]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [13]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [14]:
x = "Python is awesome"
print(x)

Python is awesome

In [15]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [16]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [17]:
x = 5
y = 10
print(x + y)

15

In [20]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [19]:
x = 5
y = "John"
print(x, y)

5 John

In [21]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [22]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [23]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [24]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic